<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orden">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orden">
        <activity android:name=".Comanda.ComandaActivity"></activity>
        <activity
            android:name=".Configuracion.EditarUsuarioActivity"
            android:parentActivityName=".Configuracion.ConfiguracionActivity" />
        <activity
            android:name=".Actividad.UsuarioActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar.Usuario" />
        <activity
            android:name=".Configuracion.AgregarPlato2Activity"
            android:parentActivityName=".Configuracion.ModificarPlatoActivity" />
        <activity
            android:name=".Configuracion.PopUP"
            android:theme="@style/Theme.AppCompat.NoActionBar.PopUp" />
        <activity
            android:name=".Configuracion.ModificarPlatoActivity"
            android:parentActivityName=".Configuracion.ConfiguracionActivity" />
        <activity android:name=".Configuracion.AgregarPlatoActivity" />
        <activity android:name=".Configuracion.NumeroMesaActivity"
            android:parentActivityName=".Configuracion.ConfiguracionActivity"/>
        <activity android:name=".Comanda.MainComandaActivity" />
        <activity android:name=".Caja.CajaActivity" />
        <activity
            android:name=".Caja.FacturaActivity"
            android:parentActivityName=".Actividad.MesasActivity" />
        <activity
            android:name=".Actividad.MesasActivity"
            android:parentActivityName=".Principal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Configuracion.ConfiguracionActivity"
            android:parentActivityName=".Actividad.MesasActivity" />
        <activity
            android:name=".Comanda.ComandaA1Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar.PopUp" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Splash.SplashActivity" />
        <activity android:name=".Principal.MainActivity" />
    </application>

</manifest>